.idea/
Profilum.AccountService.Api/bin/
Profilum.AccountService.Api/obj/
Profilum.AccountService.BLL/obj/
Profilum.AccountService.Common/bin/
Profilum.AccountService.DAL/obj/
Profilum.AccountService.DAL/bin/
